.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #fdd835;
    z-index: 1000;
}

.auth-card {
    width: 400px;
    background-color: #fffde7; /* putih kekuningan */
    border: 1px solid #fbc02d; /* kuning */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.auth-card h3 {
    color: #fbc02d;
    font-weight: bold;
}

.auth-card .form-label {
    color: #fbc02d;
}

.btn-auth {
    background-color: #fbc02d;
    border: none;
    color: #fff;
}

.btn-auth:hover {
    background-color: #fdd835;
}

input:focus,
textarea:focus {
    border-color: #fbc02d !important;
    box-shadow: 0 0 0 0.25rem rgba(251, 192, 45, 0.25);
}

.main-content {
    margin-left: 250px;
    min-height: 100vh;
    padding: 20px;
    overflow-y: auto;
}
